
/** FONTS */

@font-face {
  font-family: 'fonticons';
  src: url('../vendor/fonticons/fonticons.eot?99144359');
  src: url('../vendor/fonticons/fonticons.eot?99144359#iefix') format('embedded-opentype'),
       url('../vendor/fonticons/fonticons.woff?99144359') format('woff'),
       url('../vendor/fonticons/fonticons.ttf?99144359') format('truetype'),
       url('../vendor/fonticons/fonticons.svg?99144359#fonticons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fonticons';
    src: url('fonticons.svg?99144359#fonticons') format('svg');
  }
}
*/
 
 [class^="font-icon-"]:before, [class*=" font-icon-"]:before {
  font-family: "fonticons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.font-icon-send-back:before { content: '\e800'; } /* '' */
.font-icon-bring-front:before { content: '\e801'; } /* '' */
.font-icon-send-back-multi:before { content: '\e802'; } /* '' */
.font-icon-bring-front-multi:before { content: '\e803'; } /* '' */

/** --------------------------------------------------------------------------------------- */

@font-face {
    font-family: 'bpmn';
    src: url('../vendor/bpmn/bpmn.eot?70672887');
    src: url('../vendor/bpmn/bpmn.eot?70672887#iefix') format('embedded-opentype'),
         url('../vendor/bpmn/bpmn.woff?70672887') format('woff'),
         url('../vendor/bpmn/bpmn.ttf?70672887') format('truetype'),
         url('../vendor/bpmn/bpmn.svg?70672887#bpmn') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="bpmn-icon-"]:before, 
[class*=" bpmn-icon-"]:before {
    font-family: "bpmn";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 
.bpmn-icon-screw-wrench:before { content: '\e800'; }
.bpmn-icon-trash:before { content: '\e801'; }
.bpmn-icon-conditional-flow:before { content: '\e802'; }
.bpmn-icon-default-flow:before { content: '\e803'; }
.bpmn-icon-gateway-parallel:before { content: '\e804'; }
.bpmn-icon-intermediate-event-catch-cancel:before { content: '\e805'; }
.bpmn-icon-intermediate-event-catch-non-interrupting-message:before { content: '\e806'; }
.bpmn-icon-start-event-compensation:before { content: '\e807'; }
.bpmn-icon-start-event-non-interrupting-parallel-multiple:before { content: '\e808'; }
.bpmn-icon-loop-marker:before { content: '\e809'; }
.bpmn-icon-parallel-mi-marker:before { content: '\e80a'; }
.bpmn-icon-start-event-non-interrupting-signal:before { content: '\e80b'; }
.bpmn-icon-intermediate-event-catch-non-interrupting-timer:before { content: '\e80c'; }
.bpmn-icon-intermediate-event-catch-parallel-multiple:before { content: '\e80d'; }
.bpmn-icon-intermediate-event-catch-compensation:before { content: '\e80e'; }
.bpmn-icon-gateway-xor:before { content: '\e80f'; }
.bpmn-icon-connection:before { content: '\e810'; }
.bpmn-icon-end-event-cancel:before { content: '\e811'; }
.bpmn-icon-intermediate-event-catch-condition:before { content: '\e812'; }
.bpmn-icon-intermediate-event-catch-non-interrupting-parallel-multiple:before { content: '\e813'; }
.bpmn-icon-start-event-condition:before { content: '\e814'; }
.bpmn-icon-start-event-non-interrupting-timer:before { content: '\e815'; }
.bpmn-icon-sequential-mi-marker:before { content: '\e816'; }
.bpmn-icon-user-task:before { content: '\e817'; }
.bpmn-icon-business-rule:before { content: '\e818'; }
.bpmn-icon-sub-process-marker:before { content: '\e819'; }
.bpmn-icon-start-event-parallel-multiple:before { content: '\e81a'; }
.bpmn-icon-start-event-error:before { content: '\e81b'; }
.bpmn-icon-intermediate-event-catch-signal:before { content: '\e81c'; }
.bpmn-icon-intermediate-event-catch-error:before { content: '\e81d'; }
.bpmn-icon-end-event-compensation:before { content: '\e81e'; }
.bpmn-icon-subprocess-collapsed:before { content: '\e81f'; }
.bpmn-icon-subprocess-expanded:before { content: '\e820'; }
.bpmn-icon-task:before { content: '\e821'; }
.bpmn-icon-end-event-error:before { content: '\e822'; }
.bpmn-icon-intermediate-event-catch-escalation:before { content: '\e823'; }
.bpmn-icon-intermediate-event-catch-timer:before { content: '\e824'; }
.bpmn-icon-start-event-escalation:before { content: '\e825'; }
.bpmn-icon-start-event-signal:before { content: '\e826'; }
.bpmn-icon-business-rule-task:before { content: '\e827'; }
.bpmn-icon-manual:before { content: '\e828'; }
.bpmn-icon-receive:before { content: '\e829'; }
.bpmn-icon-call-activity:before { content: '\e82a'; }
.bpmn-icon-start-event-timer:before { content: '\e82b'; }
.bpmn-icon-start-event-message:before { content: '\e82c'; }
.bpmn-icon-intermediate-event-none:before { content: '\e82d'; }
.bpmn-icon-intermediate-event-catch-link:before { content: '\e82e'; }
.bpmn-icon-end-event-escalation:before { content: '\e82f'; }
.bpmn-icon-text-annotation:before { content: '\e830'; }
.bpmn-icon-bpmn-io:before { content: '\e831'; }
.bpmn-icon-gateway-complex:before { content: '\e832'; }
.bpmn-icon-gateway-eventbased:before { content: '\e833'; }
.bpmn-icon-gateway-none:before { content: '\e834'; }
.bpmn-icon-gateway-or:before { content: '\e835'; }
.bpmn-icon-end-event-terminate:before { content: '\e836'; }
.bpmn-icon-end-event-signal:before { content: '\e837'; }
.bpmn-icon-end-event-none:before { content: '\e838'; }
.bpmn-icon-end-event-multiple:before { content: '\e839'; }
.bpmn-icon-end-event-message:before { content: '\e83a'; }
.bpmn-icon-end-event-link:before { content: '\e83b'; }
.bpmn-icon-intermediate-event-catch-message:before { content: '\e83c'; }
.bpmn-icon-intermediate-event-throw-compensation:before { content: '\e83d'; }
.bpmn-icon-start-event-multiple:before { content: '\e83e'; }
.bpmn-icon-script:before { content: '\e83f'; }
.bpmn-icon-manual-task:before { content: '\e840'; }
.bpmn-icon-send:before { content: '\e841'; }
.bpmn-icon-service:before { content: '\e842'; }
.bpmn-icon-receive-task:before { content: '\e843'; }
.bpmn-icon-user:before { content: '\e844'; }
.bpmn-icon-start-event-none:before { content: '\e845'; }
.bpmn-icon-intermediate-event-throw-escalation:before { content: '\e846'; }
.bpmn-icon-intermediate-event-catch-multiple:before { content: '\e847'; }
.bpmn-icon-intermediate-event-catch-non-interrupting-escalation:before { content: '\e848'; }
.bpmn-icon-intermediate-event-throw-link:before { content: '\e849'; }
.bpmn-icon-start-event-non-interrupting-condition:before { content: '\e84a'; }
.bpmn-icon-data-object:before { content: '\e84b'; }
.bpmn-icon-script-task:before { content: '\e84c'; }
.bpmn-icon-send-task:before { content: '\e84d'; }
.bpmn-icon-data-store:before { content: '\e84e'; }
.bpmn-icon-start-event-non-interrupting-escalation:before { content: '\e84f'; }
.bpmn-icon-intermediate-event-throw-message:before { content: '\e850'; }
.bpmn-icon-intermediate-event-catch-non-interrupting-multiple:before { content: '\e851'; }
.bpmn-icon-intermediate-event-catch-non-interrupting-signal:before { content: '\e852'; }
.bpmn-icon-intermediate-event-throw-multiple:before { content: '\e853'; }
.bpmn-icon-start-event-non-interrupting-message:before { content: '\e854'; }
.bpmn-icon-ad-hoc-marker:before { content: '\e855'; }
.bpmn-icon-service-task:before { content: '\e856'; }
.bpmn-icon-task-none:before { content: '\e857'; }
.bpmn-icon-compensation-marker:before { content: '\e858'; }
.bpmn-icon-start-event-non-interrupting-multiple:before { content: '\e859'; }
.bpmn-icon-intermediate-event-throw-signal:before { content: '\e85a'; }
.bpmn-icon-intermediate-event-catch-non-interrupting-condition:before { content: '\e85b'; }
.bpmn-icon-participant:before { content: '\e85c'; }
.bpmn-icon-event-subprocess-expanded:before { content: '\e85d'; }
.bpmn-icon-lane-insert-below:before { content: '\e85e'; }
.bpmn-icon-space-tool:before { content: '\e85f'; }
.bpmn-icon-connection-multi:before { content: '\e860'; }
.bpmn-icon-lane:before { content: '\e861'; }
.bpmn-icon-lasso-tool:before { content: '\e862'; }
.bpmn-icon-lane-insert-above:before { content: '\e863'; }
.bpmn-icon-lane-divide-three:before { content: '\e864'; }
.bpmn-icon-lane-divide-two:before { content: '\e865'; }
.bpmn-icon-data-input:before { content: '\e866'; }
.bpmn-icon-data-output:before { content: '\e867'; }
.bpmn-icon-hand-tool:before { content: '\e868'; }
.bpmn-icon-transaction:before { content: '\e8c4'; }


/** ----------------------------------------------------------------------------------- */


polyline,
polygon,
ellipse,
circle,
tspan,
image,
path,
rect,
text,
svg,
g {
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
    
    -webkit-user-drag: none;
            user-drag: none;  

}

text, tspan {
    font-family: Roboto, 'Segoe UI', sans-serif;
    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: grayscale;
}

polyline,
polygon,
ellipse,
circle,
path,
rect {
    stroke-width: 2;
    stroke: #000000;
}

polyline,
polygon,
ellipse,
circle,
rect {
    fill: #ffffff;
}

.graph-paper {
    
}

/** ================= VECTOR ================= **/

.graph-origin .x,
.graph-origin .y,
.graph-origin .t {
    fill: #cccccc;
    stroke-width: 0;
    pointer-events: none;
}

line.graph-elem,
path.graph-elem {
    fill: none;
    stroke-linecap: butt;
}

text.graph-elem tspan {
    stroke-width: .05;
    fill: #000000;
}

/** ================= PLUGINS ================= **/

.graph-resizer {
    
}

.graph-resizer .graph-resizer-helper {
    fill: none;
    stroke: #3E7CF7;
    stroke-width: 1;
    pointer-events: none;
    stroke-dasharray: 5 2;
}

.graph-resizer .handle-nw,
.graph-resizer .handle-se { 
    cursor: nwse-resize; 
}

.graph-resizer .handle-s,
.graph-resizer .handle-n { 
    cursor: ns-resize;
}

.graph-resizer .handle-ne,
.graph-resizer .handle-sw { 
    cursor: nesw-resize; 
}

.graph-resizer .handle-w,
.graph-resizer .handle-e { 
    cursor: ew-resize;
}

.graph-rotator rect {
    fill: none;
    stroke: #3E7CF7;
    stroke-width: 1;
    pointer-events: none;
    stroke-dasharray: 5 2;
}

.graph-rotator circle,
.graph-rotator line {
    stroke-width: 1;
    stroke: #555;
}

.graph-rotator circle {
    fill: #fff;
}

.graph-rotator line {
    stroke-dasharray: 2 2;
}


.graph-dragger {
    
}

.graph-dragger .graph-dragger-helper {
    fill: rgba(255, 255, 255, 0);
    stroke: #FFA500;
    stroke-width: 2;
    stroke-dasharray: 5 2;
}

.graph-elem.dragging {
    opacity: .3;
}

/** collector */
.graph-rubberband {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1024;
    background: #99ccff;
    border: #0077ff solid 1px;
    opacity: .3;
}
.graph-selected {
    stroke: #007DFC !important;
}

/** zoombox */
.graph-zoom-toolbox {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 38px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.graph-zoom-toolbox a {
    display: block;
    width: 36px;
    height: 36px;
    color: #555555;
    font-size: 24px;
    text-align: center;
    line-height: 36px;
}

.graph-zoom-toolbox a:hover {
    color: orange;
}

.graph-zoom-toolbox .splitter {
    height: 1px;
    /*margin-left: 5px;
    margin-right: 5px;*/
    background: #ddd;
    margin: 0 4px;
}


/** dropzone */
.graph-dropzone {

}

.graph-dropzone.activate {
    stroke: #30BFBF;
    stroke-dasharray: 10,5;
}

.graph-dropzone.enter {
    stroke: #FF4081;
    stroke-dasharray: 10,5;
}

/** sorter */
.graph-sorter-helper {
    fill: none;
    display: none;
}

.graph-sorter-helper.visible {
    display: inline;
}

/** network */
.linking .graph-elem {
    cursor: not-allowed;
}

.linking .graph-connectable {
    cursor: pointer;    
}

.linking .graph-elem:not(.graph-link-coat).connect-invalid.connect-hover,
.linking .graph-elem:not(.graph-link-coat).connect-invalid:hover {
    fill: #FFF4F8 !important;
}

.linking .connect-valid.connect-hover,
.linking .connect-valid:hover {
    fill: #F2FFEA !important;
}

/** link */
.graph-link {

}

.graph-link-path {
    fill: none;
    stroke-width: 2;
    stroke: #000000;
    cursor: pointer;
}

.graph-link.link-message .graph-link-path {
    stroke-dasharray: 10 5;
}

.graph-link.editing .graph-link-path {
    stroke: #FFA500;
}

.graph-link-coat {
    stroke: rgba(255, 255, 255, 0) !important;
    fill: none;
    stroke-width: 20;
    cursor: pointer;
    stroke-linecap: round;
}

.graph-link-label {
    cursor: pointer;
}

.graph-link-edit {
    
}

.graph-link.selected .graph-link-edit {
    
}

.graph-link.selected .graph-link-path {
    stroke: #007DFC;
}

.graph-link.selected .graph-link-coat.dragging + .graph-link-path {
    opacity: .3;
}

.graph-link-head {
    
}

.graph-link-tail {
    
}

.graph-link-bend {

}

/** ================= AUXILIARY ================= **/

/** SPOTLIGHT */
.graph-util-spotlight {
    
}

.graph-util-spotlight > line {
    stroke: orange;
    stroke-width: 1;
    fill: none;
    stroke-linecap: butt;
}

/** SNAPPER */
.graph-snapper path {
    stroke: #FFA500;
    stroke-width: 1;
    /*opacity: .5;*/
    fill: none;
    stroke-linecap: butt;
    display: none;
}

.graph-snapper path.visible {
    display: inline;;
}

/** HINTER */
.graph-util-hinter > line {
    stroke: #007DFC;
    fill: none;
    stroke-linecap: butt;
    display: none;
}

.graph-util-hinter > line.visible {
    display: inline;
}

/** linker */
.graph-linker {}

.graph-linker-path {
    stroke-width: 2;
    stroke: #000000;
    stroke-dasharray: 5 3;
}

/** toolpad */
.graph-toolpad {
    position: absolute;
    top: 140px;
    left: 10px;
    width: 38px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.graph-toolpad a {
    display: block;
    width: 36px;
    height: 36px;
    color: #555555;
    font-size: 24px;
    text-align: center;
    line-height: 36px;
}

.graph-toolpad a:hover {
    color: orange;
}

.graph-toolpad .pad-header a:hover {
    color: #555;
}

.graph-toolpad .splitter {
    height: 1px;
    background: #ddd;
    margin: 0 4px;
}

/** editor */
.graph-editor {
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    color: #333;
    text-align: center;
    border: solid 1px #ccc;
    border-radius: 4px;
    overflow: auto;
    font-family: Roboto, 'Segoe UI', sans-serif;
}


/** COMMON SHAPES **/
.graph-shape .dragging ~ text {
    opacity: .3;
}
.graph-shape.picking .dragging,
.graph-shape.picking .dragging ~ text {
    opacity: 0;
}

/** ACTIVITY-SHAPES */
.graph-shape-activity-final .comp-block {
    fill: rgba(255,255,255,0);
}

.graph-shape-activity-final .comp-inner {
    fill: #000;
    stroke-width: 0;
}

.graph-shape-activity-final .comp-label tspan {
    fill: #ffffff;
}

.graph-shape-activity-final .comp-block.allowed:hover ~ .comp-inner {
    fill: #30D0C6;
}

/** ROUTER */
.graph-shape-activity-router .graph-selected ~ .comp-inner {
    stroke: #007DFC;
}

/** LANE */
.graph-shape-activity-lane > .comp-block,
.graph-shape-activity-lane > .comp-header {
    fill: rgba(255,255,255,0);
}

.graph-shape-activity-lane.shape-selected > .comp-header {
    stroke: #007DFC;
}

.graph-shape-activity-lane > rect {
    /*stroke-width: 1;*/
}

.graph-shape-activity-lane.receiving > .comp-block {
    fill: rgba(0, 125, 252, .05) !important;
}

/** JOIN */
.graph-shape-activity-join .comp-block,
.graph-shape-activity-fork .comp-block {
    fill: #000;
    stroke-width: 0;
}

.linking .graph-shape-activity-join .comp-block.connect-valid:hover,
.linking .graph-shape-activity-fork .comp-block.connect-valid:hover {
    fill: #30d0c6;
}

.linking .graph-shape-activity-join .comp-block.connect-invalid:hover,
.linking .graph-shape-activity-fork .comp-block.connect-invalid:hover {
    fill: #FF4081;
}

/** LABEL */
.graph-shape.label-selected text,
.graph-shape.label-selected text tspan {
    fill: #007DFC;    
}

/** PALLET */
.graph-pallet path {
    stroke: #30D0C6;
    stroke-width: 0;
}
.graph-pallet-item {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.graph-pallet-item.grabbing {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

.graph-pallet-item line,
.graph-pallet-item path,
.graph-pallet-item rect,
.graph-pallet-item polygon,
.graph-pallet-item circle {
    stroke-width: 2;
    stroke: #30D0C6;
}

.graph-pallet-item rect,
.graph-pallet-item polygon {
    fill: rgba(255, 255, 255, 0);
}

.graph-pallet-item rect.full {
    stroke-width: 0;
    fill: #FF4081;
}

.graph-pallet-item circle {
    fill: rgba(255, 255, 255, 0);
}

.graph-pallet-item circle.full {
    stroke-width: 0;
    fill: #FF4081;
}

.graph-pallet-item text,
.graph-pallet-item text tspan {
    stroke: #fff;
    stroke-width: 0;
    fill: #fff;
    text-anchor: middle;
    font-size: 12px;
    pointer-events: none;
}

.graph-pallet-item:hover rect,
.graph-pallet-item:hover circle,
.graph-pallet-item:hover line {
    stroke: #FF4081;
}

/** HTML */

.graph-dialog-backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.1);
    z-index: 999998;
}

.graph-dialog {
    position: absolute;
    min-width: 380px;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #fff;
    padding: 20px;
    color: #555;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
}

.graph-dialog.open {
    display: block;
}