<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Easyflow - Diagram Editor</title>
    
    <link rel="stylesheet" type="text/css" href="../css/graph.css">

    <link rel="stylesheet" type="text/css" href="assets/vendor/roboto/roboto.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/ionicons/ionicons.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/bpmn/bpmn.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/fonticons/fonticons.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">

</head>
<body>

    <section class="e-workspace e-vbox">
        <header class="e-header e-hbox">
            <aside class="e-aside-sm e-bg-cyan">
                <h1 class="e-logo-text">easyflow<sup>&reg;</sup></h1>    
            </aside>
            <section>
                <div class="e-toolbar">
                    <a href="javascript:;" data-ng-if="user" data-ng-click="createDiagram()" title="New diagram"><i class="ion-android-add"></i></a>
                    <a href="javascript:;" data-ng-if="user" data-ng-click="updateDiagram()" title="Save diagram"><i class="ion-android-done"></i></a>
                </div>
                <div class="e-toolbar">
                    <a href="#" data-tool="panzoom" title="Activate hand tool"><i class="bpmn-icon-hand-tool"></i></a>
                    <a href="#" data-tool="collector" title="Activate lasso tool"><i class="bpmn-icon-lasso-tool"></i></a>
                    <a href="#" data-tool="linker" title="Activate link tool"><i class="bpmn-icon-connection-multi"></i></a>
                    <a href="#" data-util="trash" title="Delete selection"><i class="bpmn-icon-trash"></i></a>
                    
                    <!-- 
                    <a href="#" data-util="export" title="Save as Image"><i class="ion-android-print"></i></a>
                    <a href="#" data-util="create" title="New diagram"><i class="ion-android-add"></i></a>
                    <a href="#" data-util="save" title="Save diagram"><i class="ion-android-done"></i></a>
                    <a href="#" data-util="config" title="Editor config"><i class="ion-android-options"></i></a> 
                    -->
                    
                    <a href="#" data-util="export" title="Save as Image"><i class="ion-ios-printer-outline"></i></a>
                    <a href="javascript:;" data-util="config" title="Editor config"><i class="ion-ios-gear-outline"></i></a>
                </div>

                <div class="e-clearfix"></div>
            </section>
        </header>
        <section>
            <section class="e-hbox stretch">
                <aside class="e-aside-sm e-bg-dark">
                    <div class="e-accordion">
                        <div class="e-pane active">
                            <div class="e-pane-body">
                                <div id="pallet" class="e-pallet"></div>
                            </div>
                        </div>
                    </div>
                </aside>    
                <section>
                    <section class="e-vbox">
                        <section class="e-center">
                            <div id="page" class="e-page"></div>
                        </section>
                    </section>
                </section>
            </section>
            
        </section>
        
    </section>

    <!-- .graph-dialog -->
    <section class="graph-dialog" id="create-dialog">
        <div class="e-row">
            <div class="e-col e-col-12">
                <h5>Diagram Baru</h5>
            </div>
        </div>
        <div class="e-row">
            <div class="e-field e-col e-col-12">
                <label for="diagram-name" class="">Nama diagram</label>
                <input id="diagram-name" name="diagram_name" type="text">
            </div>
        </div>
        <div class="e-row">
            <div class="e-field e-col e-col-12">
                <label for="diagram-desc" class="">Keterangan singkat</label>
                <input id="diagram-desc" name="diagram_desc" type="text">
            </div>
        </div>
        <div class="e-right">
            <a class="btn-save e-btn e-btn-flat e-color-blue">Simpan</a>
            <a class="btn-close e-btn e-btn-flat">Tutup</a>
        </div>
    </section>
    <!-- ./graph-dialog -->



    <script src="../vendor/lodash/lodash.js"></script>
    <script src="../vendor/jquery/jquery.js"></script>
    <script src="../vendor/interact/interact.js"></script>
    <script src="../vendor/jed/jed.js"></script>
    
    <script src="../src/poly.js"></script>
    <script src="../src/core.js"></script>
    <script src="../src/util.js"></script>

    <script src="../src/i18n/loader.js"></script>
    
    <script src="../src/lang/class.js"></script>
    <script src="../src/lang/error.js"></script>
    <script src="../src/lang/event.js"></script>
    <script src="../src/lang/point.js"></script>
    <script src="../src/lang/line.js"></script>
    <script src="../src/lang/curve.js"></script>
    <script src="../src/lang/bbox.js"></script>
    <script src="../src/lang/path.js"></script>
    <script src="../src/lang/matrix.js"></script>

    <script src="../src/collection/point.js"></script>
    <script src="../src/collection/vector.js"></script>
    <script src="../src/collection/shape.js"></script>
    <script src="../src/collection/tree.js"></script>

    <script src="../src/dom/element.js"></script>

    <script src="../src/svg/vector.js"></script>
    <script src="../src/svg/ellipse.js"></script>
    <script src="../src/svg/circle.js"></script>
    <script src="../src/svg/rect.js"></script>
    <script src="../src/svg/path.js"></script>
    <script src="../src/svg/polyline.js"></script>
    <script src="../src/svg/polygon.js"></script>
    <script src="../src/svg/group.js"></script>
    <script src="../src/svg/text.js"></script>
    <script src="../src/svg/image.js"></script>
    <script src="../src/svg/line.js"></script>
    <script src="../src/svg/paper.js"></script>

    <script src="../src/registry/vector.js"></script>
    <script src="../src/registry/link.js"></script>
    <script src="../src/registry/shape.js"></script>

    <script src="../src/layout/layout.js"></script>
    
    <script src="../src/router/router.js"></script>
    <script src="../src/router/directed.js"></script>
    <script src="../src/router/orthogonal.js"></script>

    <script src="../src/link/link.js"></script>
    <script src="../src/link/directed.js"></script>
    <script src="../src/link/orthogonal.js"></script>
    
    <script src="../src/util/sweeplink.js"></script>

    <script src="../src/plugin/plugin.js"></script>
    <script src="../src/plugin/definer.js"></script>
    <script src="../src/plugin/reactor.js"></script>
    <script src="../src/plugin/transformer.js"></script>
    <script src="../src/plugin/animator.js"></script>
    <script src="../src/plugin/resizer.js"></script>
    <script src="../src/plugin/collector.js"></script>
    <script src="../src/plugin/dragger.js"></script>
    <script src="../src/plugin/dropper.js"></script>
    <script src="../src/plugin/sorter.js"></script>
    <script src="../src/plugin/network.js"></script>
    <script src="../src/plugin/history.js"></script>
    <script src="../src/plugin/panzoom.js"></script>
    <script src="../src/plugin/linker.js"></script>
    <script src="../src/plugin/toolmanager.js"></script>
    <script src="../src/plugin/pencil.js"></script>
    <script src="../src/plugin/editor.js"></script>
    <script src="../src/plugin/snapper.js"></script>
    <script src="../src/plugin/toolpad.js"></script>
    
    <script src="../src/shape/shape.js"></script>
    <script src="../src/shape/activity/start.js"></script>
    <script src="../src/shape/activity/final.js"></script>
    <script src="../src/shape/activity/action.js"></script>
    <script src="../src/shape/activity/router.js"></script>
    <script src="../src/shape/activity/fork.js"></script>
    <script src="../src/shape/activity/join.js"></script>
    <script src="../src/shape/activity/lane.js"></script>
    <script src="../src/shape/activity/pool.js"></script>

    <script src="../src/data/exporter.js"></script>
    <script src="../src/data/importer.js"></script>

    <script src="../src/pallet/activity.js"></script>

    <script src="../src/diagram/diagram.js"></script>
    <script src="../src/diagram/activity.js"></script>
    
    <script src="../src/popup/dialog.js"></script>
    
    <script src="assets/js/app.js"></script>

</body>
</html>