<div data-uimodal="diagram-browser" class="modal fade animate">
    <div class="modal-dialog modal-lg zoom">
        <div class="modal-content">
            <div class="modal-header">
                <p class="_600">BROWSE DIAGRAM</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div data-ng-repeat="item in diagrams track by item.id">
                        <div ng-if="$index % 4 == 0" class="clearfix"></div>
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <div class="box dker p-a-xs">
                                <a data-ng-click="openDiagram(item.id)" href="javascript:;">
                                    <img data-ng-src="{{ item.cover_url }}" alt="" class="img-responsive">
                                </a>
                                <div class="box-tool">
                                    <ul class="nav">
                                        <li class="nav-item inline">
                                          <a data-ng-click="removeDiagram(item.id)" href="javascript:;" title="Remove diagram" class="nav-link text-muted">
                                            <i class="ion-close-round" style="font-size: 14px;"></i>
                                          </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="p-a-sm">
                                    <p class="m-b-0 text-md _600">{{ item.name }}</p>
                                    <div class="text-ellipsis m-b">{{ item.description }}</div>
                                    <button data-ng-click="openDiagram(item.id)" class="btn btn-xs btn-outline b-info text-info">Open diagram</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>