<div data-uimodal="download-dialog" class="modal fade animate">
    <div class="modal-dialog zoom">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="_600">DOWNLOAD</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Select download format</label>
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="md-check">
                                <input data-ng-model="download.type" value="png" name="download_format" type="radio"> <i class="blue"></i> Format PNG
                            </label>    
                        </div>
                        <div class="col-sm-4">
                            <label class="md-check">
                                <input data-ng-model="download.type" value="jpeg" name="download_format" type="radio"> <i class="blue"></i> Format JPEG
                            </label>    
                        </div>
                        <div class="col-sm-4">
                            <label class="md-check">
                                <input data-ng-model="download.type" value="svg" name="download_format" type="radio"> <i class="blue"></i> Format SVG
                            </label>    
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Type download filename</label>
                    <input data-ng-model="download.name" type="text" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button data-ng-click="downloadDiagram()" class="btn primary">Download</button>
                <button data-ng-click="hideModal('download-dialog')" class="btn btn-link">Close Window</button>
            </div>
        </div>
    </div>
</div>